@import url(root.css);
@import url(index.css);
@import url(import.css);

#about-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#about-text-container {
    background-color: antiquewhite;
    flex: 1;
}

#about-text {
    padding: 60px;
    font-size: 65px;
    line-height: 70px;
}

#about-image-container {
    flex: 1;
}