@import url(root.css);
@import url(index.css);
@import url(import.css);

#tag-container {
    width: 100%;
    padding: 60px;
    background-color: var(--primaryBlue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tags {
    margin: 0 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 8px #0000004f;
    transition: .4s ease-in-out;
}

.tags:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 12px 3px #0000004f;
}

.tags i {
    color:#49b8e0;
    padding: 5px;
    font-size: 30px;
}

.tag-heading {
     font-size: 24px;
     padding: 5px;
}

.tag-description {
    font-size: 18px;
}

#form-and-map-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#form-container {
    border-right: 1px solid #aeaeae;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 60px;
}

#form-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 80px;
}

#form-heading h2,h3 {
    padding: 0 14px;
} 

#form-heading h2 {
    font-size: 34px;
    color: #71d0f4;
}

#form-heading h3 {
    font-size: 22px;
    text-decoration: underline;
}

#form-tabs-container {
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
}

.form-tabs {
    padding: 7px 14px;
}

.form-tabs label {
    padding: 1px;
    width: auto;
    font-size: 18px;
    font-weight: bold;
}

.form-tabs-input, textarea {
    width: 100%;
    background-color: #f2f2f2;
    font-size: 17px;
    line-height: 45px;
    padding: 0 15px;
    border-radius: 8px;
    border-style: none;
    outline: none;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
    resize: none;
}

.form-tabs-input::-webkit-outer-spin-button, .form-tabs-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-tabs input:focus , textarea:focus {
    border: 2px solid #7ec3dd;
    background-color:#fff;
}

.form-tabs-label:has(+ .form-tabs-input:focus) {
    color: #49b8e0;
}

#query {
    width: 100%;
    height: 120px; 
    line-height: 35px;
}

#submit-form-button {
    margin: 10px 0;
    padding: 7px 25px;
    font-size: 26px;
    color: #000;
    background-color: #b5e5f7;
    border: 2px solid black;
    border-radius: 30px;
    transition: .3s;
}

#submit-form-button:hover {
    cursor: pointer;
    background-color: #80c9e4;
    transition-duration: .5s;
}

#loading {
    display: none;
    font-size: 28px;
}

.error {
    color: #f30000;
    font-weight: 600;
    float: right;
    padding: 1px;
    border-radius: 2px;
    font-size: 15px;
}

#messege-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result-messege {
    display: none;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 4px;
    border: 2px solid #01ce01de;
    transition-duration: .2s;
}

#location-container {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 60px;
    row-gap: 40px;
}

#location-container h2 {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

#location-map-container {
    height: auto;
    width: 100%;
    background-color: #e6e6e6;
    aspect-ratio: 3/2;
}

#location-map-container iframe {
    height: 100%;
    width: 100%;
}

/* --------------------------------------------media querry-------------------------------------------- */

@media (max-width: 768px) {
    #tag-container {
        padding: 20px;
        flex-direction: column;
    }
    
    .tags {
        width: 200px;
        height: 130px;
        margin: 10px;
        padding: 10px;
    }
    
    .tags i {
        font-size: 20px;
    }
    
    .tag-heading {
         font-size: 18px;
    }
    
    .tag-description {
        font-size: 14px;
    }
    
    #form-and-map-container {
        flex-direction: column;
    }
    
    #form-container {
        padding: 20px 30px;
    }
    
    #form-heading {
        padding: 20px;
    }
    
    #form-heading h2,h3 {
        padding: 0 5px;
    } 
    
    #form-heading h2 {
        font-size: 20px;
    }
    
    #form-heading h3 {
        font-size: 18px;
    }
    
    #form-tabs-container {
        padding: 20px;
    }
    
    .form-tabs {
        padding: 5px;
    }
    
    .form-tabs label {
        font-size: 15px;
    }
    
    .form-tabs-input, textarea {
        font-size: 14px;
        line-height: 35px;
        padding: 0 8px;
    }
    
    #query {
        height: 80px; 
        line-height: 25px;
    }
    
    #submit-form-button {
        font-size: 18px;
    }

    #loading {
        font-size: 20px;
    }

    .error {
        font-size: 13px;
    }
    
    #result-messege {
        padding: 4px 8px;
        font-size: 13px;
    }
    
    #location-container {
        padding: 30px;
        row-gap: 20px;
        background-color: #e6e6e6;
    }

    #location-container h2 {
        padding: 10px;
        font-size: 20px;
    }
    
    
}