@import url(root.css);
@import url(index.css);
@import url(import.css);

#tag-container {
    width: 100%;
    padding: 60px 200px;
    background-color: var(--primaryBlue);
}

.tags {
    margin: 0 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000004f;
}

.tags:hover {
    color: #49b8e0;
    transition-duration: .5s;
}

.tags img {
    padding: 5px;
}

.tag-heading {
     font-size: 24px;
     padding: 5px;
}

.tag-description {
    font-size: 18px;
    padding: 5px;
}

#form-and-map-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#form-container {
    flex: 1;
}

#map-container {
    border-left: 1px solid black;
    flex: 1;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
}

#map-container h2 {
    font-size: 40px;
    padding: 0 0 10px 0;
}