@import url(root.css);
@import url(home.css);
@import url(import.css);


#product-description-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-card {
    width: 300px;
    flex: 1;
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 15px;
}

.product-price {
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-weight: 500;
    padding: 20px 0 12px 0;
}

.product-name {
    text-decoration: underline;
    padding: 0 0 20px 0;
    font-size: 26px;
    font-family: 'Rubik', sans-serif;
}

#suit-3pcs {
    background-color: #d9d8d8;
}

#pant-shirt {
    background-color: #788ddd;

}

#kurta-pajama {
    background-color: #dbc4bc;
}

#jodhpuri-suit {
    background-color: #994f5c;
}